html * {
    /* #7B2240 */
    font-family: Helvetica;
  
}

#professorGenericInfo {
    width: 200px;
    height: 400px;
}

#professorPicture{
    margin-top: 20px;
}

#professorName{
    margin-top: 10px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
}

h3{
    text-align: center;
}

#otherClassesDropdown{
    margin-top: 50px;
    padding: 0;
}

#courseInfo{
    margin-top: 20px;
    margin-left: 20px;
}

.progress{
    margin-top: 20px;
    margin-bottom: 40px;
    min-height: 40px;
}

#ratings-descriptors{
    margin-top: 8%;
}

h5{
   text-align: center;
}

.btn-group-wrap{
    text-align: center;
}

#label-wrapping{
    width: 350px;
    margin: auto;
}

#forums{
    margin-bottom: 50px;
}

label{
    background: grey;
}

.navbar-brand{
    padding-left:3vw;
    padding-right: 3vw;
}

.navbar-nav > li{
    padding-left:3vw;
    padding-right:3vw;
  }


.nav-link{
    font-size:1vw;

}

.nav-link:hover{
    background-color: black;
}

